.col {
  border: #e0e0e0 1px solid;
}
.week-days {
  height: 100px;
}

.week-day-name {
  font-size: 12px;
  line-height: 12px;
  text-transform: capitalize;
  color: #757575;
  margin-left: 10px;
}

.container {
  padding-right: 10em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.week-dates {
  font-size: 40px;
  line-height: 12px;
  color: #9e9e9e;
  margin-left: 10px;
}

.slot {
  height: 40px;
  cursor: pointer;
}
.time-col {
  font-size: 10px;
  color: #212121;
  text-align: right;
  padding: 6px;
}

.time-string {
  position: absolute;
  right: 8px;
  top: -8px;
}

.row {
  position: relative;
}

.toolbar {
  padding-bottom: 10px;
}

.toolbar-date {
  font-size: 20px;
  font-weight: 400;
  opacity: 0.54;
  line-height: 30px;
  text-align: right;
}

.app-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.align-right {
  text-align: right;
}

.spacify {
  margin-right: 5px;
}

.input-styles {
  margin-top: 25px;
  margin-bottom: 15px;
}

.week-buttons {
  padding-right: 0px;
  padding-left: 14px;
  text-align: center;
}

.light-highlighter {
  background-color: rgba(0, 0, 0, 0.04);
}

.event-highlighter {
  position: absolute;
  background-color: #b3e1f7;
  border: 1px solid #81cdf2;
  border-radius: 4px;
  color: white;
  padding: 2px 4px;
  font-size: 12px;
  z-index: 1;
  cursor: pointer;
}
